body{
    margin: 0;
    padding: 0;
    background: url(IMG_20191102_180048.jpg);
    background-size: cover;
   
    font-weight: lighter;
    padding: 1em;
    
    color: #ffffff;
}
h4{
     font-size: 40px;
     font-weight: lighter;
     text-align: center;
     font-family: sans-serif;
     
}

.block p{
    font-size: 20px;
    padding: 3em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: sans-serif;
}

section{
    text-align: center;
    font-family: sans-serif;
    display: block;
    max-width: 800px;
    background: rgba(0,0,0,.8);
    margin: 0 auto 1em;
    height: 500px;
    position: relative;
    border-right: .2em;
    transform: preserve-3d;
}

.side{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.side a{
    background: #e74c3c;
    color: white;
    font-size: 18px;
    display: block;
    width: 150px;
    padding: 12px;
    text-decoration: none;
    margin: 10px 0;
    color: white;
    border-radius: 6px;
    margin-left: -120px;
    transition: 0.6s all;
}
.side a:hover{
    margin-left: 0;
}
